<section class="py-5">
  <h1 class="display-3">
    Obrigado pela sua compra!
  </h1>
  <p class="lead">O seu produto vai ser enviado no prazo de 2 dias úteis, vai receber um email de confirmação!</p>
  <a href="/" class="btn btn-dark btn-lg">Página Inicial</a>
</section>